@font-face {
    font-family: 'Pixel Gaming'; 
    src: url('https://raw.githubusercontent.com/Marin-BB/NBA/main/fonts/pixel-gaming-font/PixelGamingRegular-d9w0g.ttf');
}

@font-face {
    font-family: 'Thunderbold'; 
    src: url('https://raw.githubusercontent.com/Marin-BB/NBA/main/fonts/thunderbold-font/ThunderboldDemo-qZ7q2.otf');
}

@font-face {
    font-family: 'Doppler'; 
    src: url('https://raw.githubusercontent.com/Marin-BB/NBA/main/fonts/doppler-font/Doppler-G3WA.ttf');
}

@font-face {
    font-family: 'Coliseu'; 
    src: url('https://raw.githubusercontent.com/Marin-BB/NBA/main/fonts/dk-coliseu-font/Dkcoliseu-GnpA.otf');
}

@font-face {
    font-family: 'Ankh'; 
    src: url('https://raw.githubusercontent.com/Marin-BB/NBA/main/fonts/ankh-sanctuary-font/AnkhSanctuary-nROx4.ttf');
}

body {
    overflow-x: hidden;
    text-align: left;
    font-family: "Coliseu";
    font-size: 5rem;
    color: #2c2c2c;
    background-color: black;
}

#header {
    position: sticky;
    top: 10px;
    background-color: #2c2c2c;  /* Change to your preferred background color */
    display: flex;
    align-items: center;
    height: 100%;
    padding: 10px;
    border-radius: 10px;
}

.navbar {
    background-color: #2c2c2c; /* Adjust the background color as needed */
    position: sticky;
    top: 150px; 
    border-radius: 10px;
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Horizontally center the content */
    font-family: "Ankh";
    height: 5vh; /* Set the height to x% of the viewport height */
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center; /* Add this line to vertically align items */
    line-height: 5vh;
    vertical-align: middle;
}

.navbar li {
    margin:0;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 33%;
    transition: font-size 0.30s;
    padding: 10px 20px; */ Adjust hitbox around items (y-axis x-axis)
    line-height: 5vh;
    vertical-align: middle;
}

.navbar a:hover {
    font-size: 45%;
}

#logo {
    width: 100px;  /* Adjust the width as needed */
    height: auto;  /* Maintain the aspect ratio */
    margin-right: 25px;  /* Add some spacing between the logo and text */
    margin-left: 10px;
    margin-top: 0px;
}

#silhouette {
    width: 120px;  /* Adjust the width as needed */
    height: auto;  /* Maintain the aspect ratio */
    margin-left: auto; /* Align the image to the right by pushing it to the left margin */
    margin-right: 10px; /* Add some spacing between the image and the text */
    margin-top: 0px;
} 

#header-text {
    font-size: 40px;  /* Adjust the font size as needed */
    font-family: "Ankh";
    color: #ffffff;
    margin-top: 5px;
}

